.card {
    position: relative;
    width: 200px;
    height: 230px;
    &-header {
        min-height: 100px;
    }
    @include respond(tablet){
        margin: 10px;
        width: 100%;
      }
}

